extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='itemName') Item Name:
      input#itemName.form-control(type='text', placeholder='Name of Item' name='itemName' required='true' value=(undefined===item ? '' : item.itemName) )
    div.form-group
      label(for='itemDescription') Item Description:
      input#itemDescription.form-control(type='text', placeholder='item color, size, dimensions..' name='itemDescription' required='true' value=(undefined===item ? '' : item.itemDescription) )
    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select', placeholder='Select category' name='category' required='true' )
        for category in categories
          if item
            option(value=item.category._id selected=(item.category._id.toString()===category._id.toString() ? 'selected' : false) ) #{item.category.categoryName}
          else
            option(value=category._id) #{category.categoryName}
    div.form-group
      label(for='itemPrice') Item Price:
      input#itemPrice.form-control(type='text', placeholder='0' name='itemPrice' required='true' value=(undefined===item ? '' : item.itemPrice)) 
      
    div.form-group
      label(for='stockCount') Initial Stock:
      input#stockCount.form-control(type='text', placeholder='0' name='stockCount' value=(undefined===item ? '' : item.stockCount))
   
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
